/*
  Site container
*/

.main-header-img{
  max-width:940px;
  padding-top:16px;
}
.clear-fix::after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.container {
  width: $container-width;
  margin-left: auto;
  margin-right: auto;
}
.entry-header{
  float:left;
  width:30%;
/*  padding-left:10px;*/
  margin-left:20px;
  word-rap:break-word;
}
.entry-summary {
    float: right;

    width: 65%;
}
.container a {
  text-decoration: underline;
}
.posts-wrapper {
/*  padding-top: $header-thickness+10px;*/
  //margin: auto;
  display: block;
  //width: $container-width - 20px;
}
.posts-wrapper h1 {
  margin: 20px 0px 5px;
}
@media only screen and (max-width: 640px) {
     #main-header-wrapper {display: none;}
     .featured-posts { width:300px;}
     .posts-wrapper{ width:300px;margin-left:0px;}
     article{width:300px;}
}
@media (max-width: $container-width) {
  .container {
    width: 95vw;
    margin-left: auto;
    margin-right: auto;

  }
  /*article{
    width:600px;
  }*/
  .posts-wrapper {
    padding-top: $header-thickness+10px;
    //margin: auto;
    display: block;
    //awidth: 95vw;
  }
}
