.featured-posts {
  height: 100px;
  margin: 5px 20px 10px;
  padding: 10px;
  background-position: center;
  background-repeat: no-repeat;
  width:500px;
  /*background-size: cover;*/
}
.featured-posts h2 span {
   display: inline-block;
   color: white;
   font: bold 12px/24px Helvetica, Sans-Serif;
   letter-spacing: -0.5px;
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 10px;
  /* margin-top: 20px;*/
}

.featured-posts span a {
  color: white;
}
.featured-posts h1 {
  margin: 10px;
}
article{
  width:500px;
}
article p{

  font-size:12pt;
  font:0.75em/1.75em 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color:#444;
  padding: 0 0 0 10px;
}
.leftCont{
  width:500px;
  float:left;
  height:auto;
}

.rightCont{
  padding:10px;
  margin:auto;
  padding-left:170px;
  width:300px;
  float:left;

  height:auto;

}
.post-date{
  color:#bbb;
  font:0.75em/1.75em 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.rightCont p{
  font:0.75em/1.75em 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/*
  Pagination
*/

.pagination {
  text-align: center;
}
.pagination a {
  text-decoration: none;
}
.pagination-button {
  color: #999;
  border: 1px solid #e0e0e0;
  padding: 15px 45px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
}
.pagination-active {
  color: black;
}
.pagination-active:hover {
  background-color: #e0e0e0;
}
