// ==========================================================================
// Hero
// ==========================================================================

.hero {
	height: 552px;
	background: url('#{$path--rel}/bg-header.jpg'),
	            linear-gradient(#cccccc, #666666);
	background-blend-mode: multiply;
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: em(50px);
}
