<!doctype html>
<html>

{% include head.html %}

<body>

<div class="container">
  {% include header.html %}
  <div class="leftCont">
    <div class="posts-wrapper">
      {{ content }}
    </div>
  </div>
  <div class="rightCont">
    <span><p><strong>About</strong></p></span>
    <span><p>My name is Jeremy Nelson and this is my site.  I work from home as a data analytics manager in Chicago for a company based out in Palo Alto, CA.  </p></span>
    <!--<span><p><strong>Latest Photos on Flickr</strong></p></span>
    <a data-flickr-embed="true"  href="https://www.flickr.com/photos/itwasalladream/albums/72157660926477809" title="Cinque Terre"><img src="https://farm1.staticflickr.com/743/21706037501_f6247b5e70_n.jpg" width="320" height="202" alt="Cinque Terre"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>

    <a class="twitter-timeline" data-width="320" data-height="500" href="https://twitter.com/lavidajer?ref_src=twsrc%5Etfw"><span><p><strong>Tweets by lavidajer</strong></p></span></a>
     <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
-->


  </div>
  <div style="clear:both;"></div>
  {% include footer.html %}
</div>

</body>
</html>
